{% extends 'base.html.twig' %}
{% block title 'Test'%}
{% block body %}
<!-- =========================================================================================================================================================================
=========================================================== affichage des creations en mode admin =======================================================================
========================================================================================================================================================================= -->
	<div class="container mt-4">
		<div class="row"><!-- affiche une etiquette de la creation -->
			{% for creation in creations %} <!-- lecture des creations -->
				<div class="card mb-4 col-sm-12 col-lg-4 {{ creation.type }}">
					<div class="card-body">
						<h3 class="card-title">
							<a href="{{ path('creation_show', {'id': creation.id}) }}">
								{{ creation.titre }}
							</a>
						</h3>
						<div>
							<img src="{{ vich_uploader_asset(creation) }}" href="{{ path('admin.creation_show', {'id': creation.id}) }}" alt="{{ creation.titre }}" width="250" height="250"/>
						</div>
						<div class="card-text">
							{{ creation .description }}
						</div>
					</div><!-- fin de card-body -->
				</div><!-- fin de card -->
			{% endfor %}<!-- fin de lecture des creations -->
		</div><!-- fin de row -->
	</div><!-- fin de container -->
{% endblock %}