{% extends 'base.html.twig' %}

{% block body %}
<!-- =========================================================================================================================================================================
=========================================================== affichage des creations =====================================================================================
========================================================================================================================================================================= -->
	<div class="container mt-4"><!-- affiche une etiquette de la creation -->
		<div class="row">
			{% for creation in creations %}<!-- lecture des creations -->
				<div class="card mb-4 col-sm-12 col-lg-4 {{ creation.type }}" id="composition"> <!-- 3 creations par ligne -->
					<div class="card-body">
						<h3 class="card-title">
							<a href="{{ path('creation_show', {'id': creation.id}) }}">
								{{ creation.titre }}
							</a>
						</h3>
						<div class="centrer">
							<a href="{{ path('creation_show', {'id': creation.id}) }}">
							<img src="{{ vich_uploader_asset(creation) }}" alt="{{ creation.titre }}" /></a>
						</div>
						<div class="card-text justifier">
							{{ creation .description }}
						</div>
					</div><!-- fin de card-body -->
				</div><!-- fin de card -->
			{% endfor %}<!-- fin de lecture des creations -->
		</div><!-- fin de row -->
	</div><!-- fin de container -->

{% endblock %}

